html, body {
    padding: 0;
    font-family: 'Roboto';
}

.topNavigation {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    height: 2.8em;
    z-index: 3;
}

.imgLeft {
    margin-top: 0.5em;
    margin-right: 0.5em;
    height: 1.5em;
    width: 1.5em;
}

.imgRight {
    float: right;
    margin-top: 0.5em;
    height: 1.5em;
    width: 1.5em;
}

.homeh3 {
    margin-left: 0.5em;
}

.movieLink:hover{
    color: black;
    text-decoration: none;
}

.homeUl {
    white-space: nowrap;
    padding: 0;
    overflow: scroll;
    margin: 0 1em;
}

.homeUl::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.homeUl > li {
    display: inline;
    margin-right: 2.5em;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}

.genreTag:hover {
    border-bottom: 2px solid #FF3B30;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.homeTopTitle {
    color: black;
}

.movieTitle {
    font-weight: 900;
    font-size: 24px;
    color: black;
    margin-top: 0.5em;
}

.movieTime {
    font-weight: bold;
    font-size: 14px;
}

.movieTags {
    border: 1px solid #000000;
    border-radius: 15px;
    background-color: transparent;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
    font-size: 14px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.movielink {
    display: inline-block;
    margin-right: 1.1em;
}

.movielink:last-of-type {
    margin-right: 0;
}

.movie-container {
    padding: 1em;
    overflow-y: scroll;
    white-space: nowrap;
}

.titlecontainer {
    position: absolute;
    bottom: 0;
}

.moviebackdrop {
    position: relative;
    height: 15em;
}

.moviebackdrop .movieTitle {
    position: relative;
    word-wrap: normal;
}

.overlay {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 18em;
    background-color: rgba(151, 151, 151, 0.7);
    z-index: 0;
}

.poster-image-container {
    position: relative;
}

.poster-image-container img {
    position: absolute;
    width: 100%;
    min-width: 6em;
    max-width: 9em;
    right: 0;
    bottom: -2.3em;
}

.movie-title {
    font-size: 1.5em;
    margin-bottom: 0;
}

.video-container iframe {
    width: 100%;
    height: 12em;
}

.cast {
    font-size: 0.9em;
}

.cast .actor-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.cast .actor-image img {
    width: 100%;
    position: absolute;
}

.actor-image-container {
    position: relative;
}

.actor-image-container img {
    position: absolute;
    width: 11em;
    height: 11em;
    object-fit: cover;
    right: 0;
    border-radius: 50%;
    top:-7em;
}

.sub{
    background-image:url("./img/notification.png");
}

.nosub{
    background-image:url("./img/nonotification.png");
}

.nosub,.sub{
    width:42px;
    height:41px;
    background-color: transparent;
    border:0;
    float:left;
}

.sub:focus,.nosub:focus{
    outline: none;
}

.movie h3 {
    color: #FF3B30;
    font-weight: bold;
    font-size: 1.0em;
    margin-bottom: 0;
}

.overview {
    color: #7C7C7C;
}

.search {
    height: 1.5em;
    width: 100%;
    position: relative;
}

.searchContainer {
    height: 2.8em;
    position: relative;
}

.btnCancel {
    float: left;
    border-radius: 5px;
    border: 0;
    padding: 0.1em 0;
    font-weight: bold;
    background-color: transparent;
}

.btnCancel:hover {
    text-decoration: underline red;
}

.imgSearch {
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10px;
}

.inputSearch {
    font-size: 15px;
    border: 1px solid #000000;
    padding-left: 2em;
    padding-right: 1em;
    border-radius: 5px;
    width: 100%;
}

.inputClear {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border-style: none;
    background-color: transparent;
    color: grey;
    font-size: 15px;
}

.searchContent > h4 {
    text-align: center;
}


.followtext {
    font-weight: normal;
    font-size: 0.9em;
    color: #7C7C7C;
    padding-top:1em;
}

.followtext h3 {
    font-weight: normal;
    color: #7C7C7C;
    font-size: 1.0em;
}

.bio .overview {
    margin-top:0.5em;
}


/* Style for setting Mikkel */

.high3{
height:3em;
    content:"";
}

.user-nav {
    width: 17em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 1em;
    z-index: 3333;
}

.user-nav .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 3em 1em 1em 0;
}

.user-nav h3 {
    font-size: 1.5em;
}

.user-nav p {
    font-size: 0.8em;
    margin: 0;
}

.user-nav hr {
    width: 100%;
    border-bottom: 1px solid #ececec;
    margin: 0.8em 0;
}

.user-nav .menu img {
    width: 23px;
    height: 23px;
    display: inline-block;
    margin: 0.2em 0.4em 0.2em 0.2em;
    float: left;
}

.user-nav .menu a {
    color: #fff;
    font-size: 1.3em;
    display: block;
    margin-bottom: 0.2em;
    padding: 0;

}

.user-nav .menu a:hover {
    border-bottom: 0;
    font-weight: normal;
    text-decoration: none;
}

.settings {
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 0.5em auto;
    padding: 0;
}

.user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 1em auto 1.5em auto;
}

.settings a {
    display: block;
    margin: 0.2em 0.5em 0.2em 0.3em;
    font-size: 1.2em;
}

.settings a:hover {
    border-bottom: 0;
    font-weight: normal;
    text-decoration: none;
}

.settings a p {
    float: right;
    margin: 0;
}

.settings-notification {
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 2em auto;
    padding: 0.5em;
}

.settings-notification .div {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 2.5em;
    vertical-align: middle;
}

.settings-notification p {
    float: left;
}

.settings-notification labal {
    float: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    float: right;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.default:checked + .slider {
    background-color: #444;
}

input.success:checked + .slider {
    background-color: #8bc34a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.settings-password {
    margin: 2em auto;
}

.settings-password .text-cos {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    margin-bottom: 0.5em;
    padding: 0 0.2em;
}

.settings-password .text-cos:focus {
    background-color: #f9f9f9;
}

.settings-password .btn-cos {
    width: 100%;
    padding: 0.4em 0;
    border-radius: 5px;
    background-color: #ED1D1D;
    border: 0;
    color: #fff;
    margin-top: 0.5em;
}

.settings-password .btn-cos:hover {

    background-color: #ff5b47;
}

.messageContainer {
    position: relative;
}

.message {
    margin-top: 15px;
    padding-left: 4em;
}

.messageImg img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%)
}

.messageText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.messageTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.loginBackground {
    height: -webkit-fill-available;
    background-image: url("img/loginBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.loginBlur {
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.loginContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.loginForm {
    width: 100%;
    padding-top: 28em;
    padding-left: 15px;
    padding-right: 15px;
}

.loginForm > input {
    background-color: transparent;
    color: white;
    outline: 0;
    border-width: 0 0 2px;
    border-color: grey;
    width: 100%;
    margin-top: 1.5em;
    padding-left: 0.5em;
}

.loginForm > button {
    display: block;
    background-color: #FF3B30;
    border-color: transparent;
    border-radius: 5px;
    width: 100%;
    margin-top: 3em;
    color: white;
    height: 3em;
}

.loginContainer > p {
    color: grey;
    text-align: center;
    margin-top: 2em
}

.signUp {
    color: white;
}

.err {
    color: Red;
}

.page{
    position:absolute;
    top:0em;
    left:0;
    right:0;
}

.appear,
.enter {
    opacity: 0;
    z-index: 12;
}

.appear-active, .enter.enter-active {
    opacity: 1;
    transition: opacity 700ms linear 350ms;
}

.exit {
    opacity: 1;
}

.exit.exit-active {
    opacity: 0;
    transition: opacity 350ms linear;
}

.hometitle {
    padding: 15px;
}



.viewAll:hover, .settings > a:hover {
    color: black;
    text-decoration: none;
}

.movieCast{
    font-size:16px;
    color:red;
}



/* slider */
.slidercon{
    width:375px;
    margin-left:auto;
    margin-right:auto;
    margin-top:2em;
    overflow: hidden !important;
}

#carousel {
    position: relative;
    height: 400px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.arrow {
    position: absolute;
    width: 65px;
    height: 300px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    color: #228291;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 0;
}

.arrow-right {
    right: 0;
}

.item {
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
}

.level-3 img{
    width:3em;
}

.level-3 {
    line-height: 180px;
    left:-100px;
    margin-top: 60px;
    z-index: -3;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
}

.level-2 img{
    width:4em;
}

.level-2 {
    line-height: 180px;
    left:-70px;
    margin-top: 40px;
    z-index: -2;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
}

.level-1 img{
    width:5em;
}

.level-1 {
    line-height: 180px;

    left:-20px;
    margin-top: 20px;
    z-index: -1;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
    -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
}

.level0 img {
    width: 6em;
}

.level0 {
    line-height: 200px;
    left:50%;
    margin-left: -3em;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.level1 img {
    width: 5em;
}

.level1 {
    line-height: 180px;
    margin-top: 20px;
    right: -20px;
    z-index: -1;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
    -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
}

.level2 img{
     width:4em;
 }

.level2 {
    line-height: 180px;
    right: -70px;
    margin-top: 40px;
    z-index: -2;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
    -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
}

.level3 img{
    width:3em;
}

.level3 {
    line-height: 180px;
    right: -100px;
    margin-top: 60px;
    z-index: -3;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
    -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
}

.left-enter {
    opacity: 0;
    left: -60px;
    line-height: 120px;
    margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: 50px;
    line-height: 150px;
    margin-top: 25px;
}

.left-leave {
    opacity: 1;
    left: 150px;
    line-height: 150px;
    margin-top: 25px;
}

.left-leave.left-leave-active {
    left: 180px;
    opacity: 0;
    height: 120px;
    line-height: 120px;
    margin-top: 40px;
    width: 90px;
}

.right-enter {
    opacity: 0;
    left: 160px;
    height: 120px;
    width: 90px;
    line-height: 120px;
    margin-top: 40px;
}

.right-enter.right-enter-active {
    left: 150px;
    opacity: 1;
    height: 150px;
    margin-top: 25px;
    line-height: 150px;
    width: 110px;
}

.right-leave {
    left: 50px;
    height: 150px;
    opacity: 1;
    margin-top: 25px;
    line-height: 150px;
    width: 110px;
}

.right-leave.right-leave-active {
    left: -60px;
    opacity: 0;
    height: 120px;
    width: 90px;
    line-height: 120px;
    margin-top: 40px;
}

.noselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



@media (min-width: 1080px) {
    /*Desktop*/
    .tagList {
        margin-top: 1em;
    }

    .imgLeft {
        visibility: collapse;
    }

    .imgRight {
        float: left;
        margin-top: 0.5em;
        height: 2em;
        width: 2em;
    }

    .hometitle {
        text-align: center;
    }

    .homeUl > li, .movieTime, .director, .movie h3, .movieCast, .movieTags, .ratingText, .castText, .inputSearch, .searchItemText, .viewAll, .followers, .actorMovies{
        font-size: 20px;
    }

    .homeTop > h3, .movie-title, .actorName  {
        font-size: 34px;
    }

    .video-container iframe {
        width: 100%;
        height: 30em;
    }

    .imgSearch {
        height: 25px;
        width: 25px;
        top:43%;
    }

    .poster-image-container img{
        min-width: 8em;
        width:100%;
        max-width: 12em;
        bottom: -2.9em;
    }

    .actor-image-container img {
        position: absolute;
        width: 13em;
        height: 13em;
        object-fit: cover;
        right: 0;
        border-radius: 50%;
        top:-8em;
    }

    .btnCancel {
        font-size: 24px;
        text-align: center;

    }

    .loginForm {
        padding-left: 20em;
        padding-right: 20em;
    }

    /* slider */
    .slidercon{
        width:800px;
        margin-left:auto;
        margin-right:auto;
        margin-top:1em;
        overflow: hidden !important;
    }


    #carousel {
        position: relative;
        height: 400px;
        width: 100%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    .arrow {
        position: absolute;
        width: 275px;
        height: 280px;
        background-color: transparent;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
        color: #228291;
        line-height: 30px;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .arrow-right {
        right: 0;
    }
    
    .item {
        text-align: center;
        color: white;
        font-size: 40px;
        position: absolute;
    }
    
    .level-3 img{
        width:3.2em;
    }
    
    .level-3 {

        left:5px;
        margin-top: 55px;
        z-index: -3;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
    }
    
    .level-2 img{
        width:4em;
    }
    
    .level-2 {

        left:60px;
        margin-top: 40px;
        z-index: -2;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
    }
    
    .level-1 img{
        width:5em;
    }
    
    .level-1 {
        left:160px;
        margin-top: 20px;
        z-index: -1;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
    }
    
    .level0 img {
        width: 6em;
    }
    
    .level0 {
        left:50%;
        margin-left: -3em;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    }
    
    .level1 img {
        width: 5em;
    }
    
    .level1 {
        margin-top: 20px;
        right: 160px;
        z-index: -1;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
    }
    
    .level2 img{
         width:4em;
     }
    
    .level2 {
        right: 60px;
        margin-top: 40px;
        z-index: -2;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
    }
    
    .level3 img{
        width:3.2em;
    }
    
    .level3 {
        line-height: 180px;
        right: 5px;
        margin-top: 55px;
        z-index: -3;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
    }
    
    .left-enter {
        opacity: 0;
        left: -60px;
        line-height: 120px;
        margin-top: 40px;
    }
    
    .left-enter.left-enter-active {
        opacity: 1;
        left: 50px;
        line-height: 150px;
        margin-top: 25px;
    }
    
    .left-leave {
        opacity: 1;
        left: 150px;
        line-height: 150px;
        margin-top: 25px;
    }
    
    .left-leave.left-leave-active {
        left: 180px;
        opacity: 0;
        height: 120px;
        line-height: 120px;
        margin-top: 40px;
        width: 90px;
    }

    .right-enter {
        opacity: 0;
        left: 160px;
        height: 120px;
        width: 90px;
        line-height: 120px;
        margin-top: 40px;
    }
    
    .right-enter.right-enter-active {
        left: 150px;
        opacity: 1;
        height: 150px;
        margin-top: 25px;
        line-height: 150px;
        width: 110px;
    }
    
    .right-leave {
        left: 50px;
        height: 150px;
        opacity: 1;
        margin-top: 25px;
        line-height: 150px;
        width: 110px;
    }
    
    .right-leave.right-leave-active {
        left: -60px;
        opacity: 0;
        height: 120px;
        width: 90px;
        line-height: 120px;
        margin-top: 40px;
    }
    
    .noselect {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@media (min-width: 800px) and (max-width: 1079px){
    /*Tablet*/

    .imgLeft {
        visibility: collapse;
    }

    .imgRight {
        float: left;
        margin-top: 0.5em;
        height: 2em;
        width: 2em;
    }

    .tagList {
        margin-top: 1em;
    }

    .hometitle {
        text-align: center;
    }

    .homeUl > li, .movieTime, .director, .movie h3, .movieCast, .movieTags, .ratingText, .castText, .inputSearch, .searchItemText, .viewAll, .followers, .actorMovies{
        font-size: 16px;
    }

    .homeTop > h3, .movie-title, .actorName  {
        font-size: 28px;
    }

    .poster-image-container img {
        min-width: 8em;
        width:100%;
        max-width: 11em;
        bottom: -2.3em;
    }

    .actor-image-container img {
        position: absolute;
        width: 12em;
        height: 12em;
        object-fit: cover;
        right: 0;
        border-radius: 50%;
        top:-8em;
    }

    .video-container iframe {
        width: 100%;
        height: 30em;
    }

    .imgSearch {
        height: 18px;
        width: 18px;
        top:35%;
    }

    .btnCancel {
        font-size: 24px;
        text-align: center;
    }

    .loginForm {
        padding-left: 7em;
        padding-right: 7em;
    }

    /* slider */
    .slidercon{
        width:520px;
        margin-left:auto;
        margin-right:auto;
        margin-top:1em;
        overflow: hidden !important;
    }


    #carousel {
        position: relative;
        height: 400px;
        width: 100%;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    
    .arrow {
        position: absolute;
        width: 135px;
        height: 300px;
        background-color: transparent;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
        color: #228291;
        line-height: 30px;
        margin-top: 20px;
        margin-left: 0;
    }
    
    .arrow-right {
        right: 0;
    }
    
    .item {
        text-align: center;
        color: white;
        font-size: 40px;
        position: absolute;
    }
    
    .level-3 img{
        width:3em;
    }
    
    .level-3 {
        line-height: 180px;
        left:-100px;
        margin-top: 60px;
        z-index: -3;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
    }
    
    .level-2 img{
        width:4em;
    }
    
    .level-2 {
        line-height: 180px;
        left:0px;
        margin-top: 40px;
        z-index: -2;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.55);
    }
    
    .level-1 img{
        width:5em;
    }
    
    .level-1 {
        line-height: 180px;
        left:60px;
        margin-top: 20px;
        z-index: -1;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
    }
    
    .level0 img {
        width: 6em;
    }
    
    .level0 {
        line-height: 200px;
        left:50%;
        margin-left: -3em;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    }
    
    .level1 img {
        width: 5em;
    }
    
    .level1 {
        line-height: 180px;
        right: 60px;
        margin-top: 20px;
        z-index: -1;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.65);
    }
    
    .level2 img{
         width:4em;
     }
    
    .level2 {
        line-height: 180px;
        right: 0px;
        margin-top: 40px;
        z-index: -2;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
    }
    
    .level3 img{
        width:3em;
    }
    
    .level3 {
        line-height: 180px;
        right: -100px;
        margin-top: 60px;
        z-index: -3;
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
    }
    
    .left-enter {
        opacity: 0;
        left: -60px;
        line-height: 120px;
        margin-top: 40px;
    }
    
    .left-enter.left-enter-active {
        opacity: 1;
        left: 50px;
        line-height: 150px;
        margin-top: 25px;
    }
    
    .left-leave {
        opacity: 1;
        left: 150px;
        line-height: 150px;
        margin-top: 25px;
    }
    
    .left-leave.left-leave-active {
        left: 180px;
        opacity: 0;
        height: 120px;
        line-height: 120px;
        margin-top: 40px;
        width: 90px;
    }
    
    .right-enter {
        opacity: 0;
        left: 160px;
        height: 120px;
        width: 90px;
        line-height: 120px;
        margin-top: 40px;
    }
    
    .right-enter.right-enter-active {
        left: 150px;
        opacity: 1;
        height: 150px;
        margin-top: 25px;
        line-height: 150px;
        width: 110px;
    }
    
    .right-leave {
        left: 50px;
        height: 150px;
        opacity: 1;
        margin-top: 25px;
        line-height: 150px;
        width: 110px;
    }
    
    .right-leave.right-leave-active {
        left: -60px;
        opacity: 0;
        height: 120px;
        width: 90px;
        line-height: 120px;
        margin-top: 40px;
    }
    
    .noselect {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}